.titleContainer {
  column-count: 2
}

.contentContainer {
  column-count: 4
}

.h3Style {
  padding-top: 130px;
  padding-left: 100px
}

.h3AnotherStyle {
  padding-top: 148px;
  padding-left: 100px
}
